<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Presentation Generator</title>
  <link rel="stylesheet" href={{ url_for('static', filename="css/index.css") }}>
  <style type="text/css">
    @font-face {
      font-family: sourceSansPro;
      src: url({{ url_for('static', filename="lib/font/source-sans-pro/source-sans-pro-regular.ttf") }});
    }
  </style>

  <!-- Automatic text field focus -->
  <script>
    window.onload = function() {
      var input = document.getElementById("subject-input");
      input.focus();
    };
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

</head>

<body>
  <h1>Subject</h1>
  <form class="subject-form" action="/presentation" method="post">
    <input id="subject-input" class="submit-text" type="text" name="subject" ="1"/>
    <input id="submit" class="button" type="submit" value="Go!" />
    <input id="random" class="button" type="submit" value="Random" />
  </form>

  <footer>
    <p>Created with ♥ by <a href="https://github.com/lucasdnd">Lucas Tulio</a> | Powered by <a href="https://github.com/hakimel/reveal.js">reveal.js</a>, <a href="https://github.com/goldsmith/Wikipedia">Wikipedia API for Python</a> and <a href="https://www.wikipedia.org/">Wikipedia</a></p>
  </footer>
</body>
</html>
