<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{ title }}</title>

		<meta name="description" content="Presentation generated automatically">
		<meta name="author" content="Lucas Tulio">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href={{ url_for('static', filename="css/reveal.min.css") }}>
		<link rel="stylesheet" href={{ url_for('static', filename="css/theme/black.css") }} id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href={{ url_for('static', filename="lib/css/zenburn.css") }}>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? " {{ url_for('static', filename="css/print/pdf.css") }} " : " {{ url_for('static', filename="css/print/paper.css") }} ";
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Slides start here -->
			<div class="slides">

				<section>
					<h1>{{ title }}</h1>
				</section>

				<section>
					<h2>Summary</h2>
					<p>
						{{ summary }}
					</p>
				</section>

				<section>
					<h2></h2>
					{{ sections }}
				</section>

				<section style="text-align: left;">
					<h1>Thank you</h1>
				</section>

			</div>

		</div>

		<script src={{ url_for('static', filename="lib/js/head.min.js") }}></script>
		<script src={{ url_for('static', filename="js/reveal.min.js") }}></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: " {{ url_for('static', filename="lib/js/classList.js") }} ", condition: function() { return !document.body.classList; } },
					{ src: " {{ url_for('static', filename="plugin/markdown/marked.js") }} ", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: " {{ url_for('static', filename="plugin/markdown/markdown.js") }} ", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: " {{ url_for('static', filename="plugin/highlight/highlight.js") }} ", async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: " {{ url_for('static', filename="plugin/zoom-js/zoom.js") }} ", async: true },
					{ src: " {{ url_for('static', filename="plugin/notes/notes.js") }} ", async: true }
				]
			});

		</script>

	</body>
</html>
